//Emmett Lynch - D001853366


canvas
{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#ctx
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#infobar
{
    font-family: 'Spirax', cursive;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    height: 20%;
    border: 1px solid black;
    padding: 10px;
    background-color:blue;
    color: white;
}

#demo
{
    color:orange;
}

#feedback
{
    color: orange;
}

#hs
{
    color: orange;
}




body
{
    background: url(images/web_backdrop.png) no-repeat center fixed;
    background-size: cover;
}

